---
---

$padding: 8px;
$glutter: 15px;

ota-widget {
  @import 'flags';
  font-size: 14px;

  color: #7f7a7a;
  font-family: Helvetica;

  h1 {
    font-size: 2em;
    span {
      max-width: calc(100vw - 120px);
      display: inline-block;
    }
    img {
      vertical-align: middle;
      height: 90px;
      width: auto;
      margin-left: 10px;
    }
  }
  .cached_at {
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .masonry-image-list {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 16px;
    column-gap: 16px;

    .mdc-image-list__item {
      padding-top: 1px;
    }
    // avoid webkit cutting border
    .mdc-image-list__item .block {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .block {
    background-color: white;
    padding: 2*$padding;
    min-height: 50px;
    margin-bottom: 20px;
    page-break-inside: avoid;
  }
  .overall.block {
    overflow: hidden;

    > * {
      float: left;
    }
    img.seal {
      margin-right: 20px;
    }
    .count {
      margin-top: 10px;
    }

    .rating {
      width: 130px;
      height: 75px;
      line-height: 75px;
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      color: white;
      margin-right: 10px;
    }

  }

  .ratings.block {

    .subrating {
      margin-top: 2*$padding;
    }
    .title,.rating-bar,.rating-value {
      display: inline-block;
      vertical-align: middle;
    }
    .title {
      min-width: 110px;
      line-height: 20px;
    }

    .rating-bar {
      width: calc(100% - 150px);
      height: 20px;
      padding: 0;
      position: relative;
      display: inline-block;
      background-color: #d6d6d6;
    }
    .rating-value-bar {
      height: 20px;
      position: absolute;
    }
    .rating-value {
      max-width: 30px;
    }
  }

  .mentions.block {
    .mention {
      margin-top: 2*$padding;

      .mention-percentage {
        font-size: 14px;
        color: white;
        font-weight: bold;
        padding: 9px $padding;
        min-width: 95px;
      }

      .mention-meta, .mention-percentage {
        vertical-align: middle;
      }
      .mention-meta, .times, .mention-percentage {
        display: inline-block;
      }
      .mention-meta {
        width: calc(100% - 120px);
      }
      .topic {
        font-size: 15px;
        min-width: 130px;
      }
      .times {
        font-size: 14px;
      }

    }
  }

  .guests.block {

    .guests-block {
      .country, .composition {
        display: table;
        & > div {
          padding: $padding/2 $padding;
          display: inline-block;
        }
        .icon {
          width: 40px;
        }
        .label {
          width: 100%;
          line-height: 1.2;
          font-weight: bold;
        }
        .label,.percentage, .icon {
          vertical-align: middle;
          display: table-cell;
        }
      }

      .percentage {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.2;
      }

      .composition {
        .icon {
          font-size: 48px;
          color: #2882bb;
        }
      }
    }
  }

  .summaries.block {
    .summary {
      display: table;

      .icon,.name {
        display: table-cell;
        vertical-align: middle;
        padding: $padding/2;

        &:first-child {
          padding-left: 0;
        }
      }

      .name {
        width: 100%;
      }
      .icon {
        color: #74bc55;
        &.negative {
          color: grey;
        }
      }
    }
  }

  .rating0-4
  {
    background-color:#d54939!important;
  }

  .rating5-8
  {
    background-color:#e64d3c!important;
  }

  .rating9-12
  {
    background-color:#ea5c39!important;
  }

  .rating13-16
  {
    background-color:#ee6a36!important;
  }

  .rating17-20
  {
    background-color:#f37c33!important;
  }

  .rating21-24
  {
    background-color:#f48e2f!important;
  }

  .rating25-28
  {
    background-color:#f4992d!important;
  }

  .rating29-32
  {
    background-color:#f4a42c!important;
  }

  .rating33-36
  {
    background-color:#f4ae2c!important;
  }

  .rating37-40
  {
    background-color:#f4b82c!important;
  }

  .rating41-44
  {
    background-color:#f4c02c!important;
  }

  .rating45-48
  {
    background-color:#f4c72c!important;
  }

  .rating49-52
  {
    background-color:#f4cd2c!important;
  }

  .rating53-56
  {
    background-color:#f0ce2e!important;
  }

  .rating57-60
  {
    background-color:#e8ce31!important;
  }

  .rating61-64
  {
    background-color:#ddce36!important;
  }

  .rating65-68
  {
    background-color:#d2ce3b!important;
  }

  .rating69-72
  {
    background-color:#c5ce40!important;
  }

  .rating73-76
  {
    background-color:#b8ce46!important;
  }

  .rating77-80
  {
    background-color:#a7ce4e!important;
  }

  .rating81-84
  {
    background-color:#96ce56!important;
  }

  .rating85-88
  {
    background-color:#83ce5f!important;
  }

  .rating89-92
  {
    background-color:#75ce65!important;
  }

  .rating93-96
  {
    background-color:#63cc6d!important;
  }

  .rating97-100
  {
    background-color:#54ca74!important;
  }

  // Mobile first
  @media (min-width: 768px) {
    font-size: 14px;
    .mentions {
      .topic {
        font-size: 15px;
      }
    }
    .masonry-image-list {
      -webkit-column-count: 2;
      column-count: 2;
    }
  }

  @media (min-width: 1200px) {
    font-size: 15px;
    .masonry-image-list {
      -webkit-column-count: 3;
      column-count: 3;
    }
  }
  @media (min-width: 1500px) {
    .masonry-image-list {
      -webkit-column-count: 4;
      column-count: 4;
    }
  }
  @media (min-width: 1800px) {
    .masonry-image-list {
      -webkit-column-count: 5;
      column-count: 5;
    }
  }
}
