ota-widget {
  color: #7f7a7a;
  font-family: Helvetica; }
  ota-widget table td {
    padding: 8px;
    vertical-align: center; }
  ota-widget .ratings.block .rating-bar {
    width: 200px;
    height: 20px;
    padding: 0;
    margin-top: 7px;
    position: relative;
    display: inline-block;
    background-color: #d6d6d6; }
  ota-widget .ratings.block .rating-value-bar {
    height: 20px;
    position: absolute; }
  ota-widget .mentions.block .mention-percentage {
    color: white;
    font-weight: bold; }
  ota-widget .summaries.block .summary td {
    padding: 4px; }
  ota-widget .summaries.block .summary .icon {
    color: #74bc55; }
  ota-widget .rating0-4 {
    background-color: #d54939 !important; }
  ota-widget .rating5-8 {
    background-color: #e64d3c !important; }
  ota-widget .rating9-12 {
    background-color: #ea5c39 !important; }
  ota-widget .rating13-16 {
    background-color: #ee6a36 !important; }
  ota-widget .rating17-20 {
    background-color: #f37c33 !important; }
  ota-widget .rating21-24 {
    background-color: #f48e2f !important; }
  ota-widget .rating25-28 {
    background-color: #f4992d !important; }
  ota-widget .rating29-32 {
    background-color: #f4a42c !important; }
  ota-widget .rating33-36 {
    background-color: #f4ae2c !important; }
  ota-widget .rating37-40 {
    background-color: #f4b82c !important; }
  ota-widget .rating41-44 {
    background-color: #f4c02c !important; }
  ota-widget .rating45-48 {
    background-color: #f4c72c !important; }
  ota-widget .rating49-52 {
    background-color: #f4cd2c !important; }
  ota-widget .rating53-56 {
    background-color: #f0ce2e !important; }
  ota-widget .rating57-60 {
    background-color: #e8ce31 !important; }
  ota-widget .rating61-64 {
    background-color: #ddce36 !important; }
  ota-widget .rating65-68 {
    background-color: #d2ce3b !important; }
  ota-widget .rating69-72 {
    background-color: #c5ce40 !important; }
  ota-widget .rating73-76 {
    background-color: #b8ce46 !important; }
  ota-widget .rating77-80 {
    background-color: #a7ce4e !important; }
  ota-widget .rating81-84 {
    background-color: #96ce56 !important; }
  ota-widget .rating85-88 {
    background-color: #83ce5f !important; }
  ota-widget .rating89-92 {
    background-color: #75ce65 !important; }
  ota-widget .rating93-96 {
    background-color: #63cc6d !important; }
  ota-widget .rating97-100 {
    background-color: #54ca74 !important; }
