---
---
covid-events.mdc-image-list__item
  .chart.block.mdc-elevation--z1 if='{d.events}'
    .material-icons.info
      'info
    h2
      '{t('covid_events.title')}

    .mentions-row
      .mention each='{m in scoreMentions}'
        .mention-meta
          .topic
            strong
              '{t('opinions.topics.'+m.topic, {default: m.label})} {t('sentiment.score', {default: 'Score'})}
          .times if='{isEmpty(m)}'
            'not enough data
        .mention-score class='{w.mentions.scoreClass(m)}' if='{!isEmpty(m)}'
          '{w.mentions.scoreLabel(m)}

      .mention if='{covid}'
        .mention-meta
          .topic
            strong
              '{t('opinions.topics.'+covid.topic, {default: covid.label})}
          .times
            '{covid.opinions_count} {t('mentions.times')}

    #covid_events-chart style="width: 100%; height: 500px;"

  javascript:
    ota_widget.ui.tagClass.bind(this)()
    this.period      = 'quarter'
    this.scoreTopics = ['sanitary_safety', 'health_precautions']

    isEmpty(m) {
      return !m.positive_opinions && !m.negative_opinions
    }

    loadScoreMentions() {
      this.mentions      = _.keyBy(this.d.mentions, 'topic')
      this.scoreMentions = _.values(_.pick(this.mentions, this.scoreTopics))
      this.covid         = this.mentions.covid

      if (!this.mentions.health_precautions)
        this.scoreMentions.push({topic: 'health_precautions'})
      if (!this.mentions.sanitary_safety)
        this.scoreMentions.push({topic: 'sanitary_safety'})
    }

    load() {
      this.loadScoreMentions()

      tippy('covid-events .material-icons.info', {
        content: this.t('covid_events.description'),
      })

      this.w.charts.draw(this)
    }

    data() {
      var data = this.d.events
      if (!data) return

      delete data.continents.antarctica
      var series = _.keys(data.continents)
      var header = _.map(this.w.charts.t(series), function(c) { return { label: c, type: 'number' } })
      return {
        id:         'covid_events-chart',
        header:     [''].concat(header),
        series:     series,
        data:       data.continents,
        chartClass: google.visualization.LineChart
      }
    }

    this.loadScoreMentions() //needed for sanitary sentiment score
    this.on('mount',  this.load)
    this.on('update', this.load)

