---
---
mentions.mdc-image-list__item
  .mentions.block.mdc-elevation--z1
    h2
      '{t('mentions.title')}

    .mentions-row
      .mention each='{m,i in mentions}' if='{i < 8}'
        .mention-meta
          .topic
            strong
              '{t('opinions.topics.'+m.topic, {default: m.label})}
          .times
            '{m.opinions_count} {t('mentions.times')}

        .mention-percentage class='{w.mentions.percentageClass(m)}'
          '{w.mentions.percentageLabel(m)}

  javascript:
    ota_widget.ui.tagClass.bind(this)()

    load() {
      this.topicIgnoreList = [
        'room',
        'cleanliness',
        'facilities',
        'food',
        'location',
        'problem',
        'value_for_money',
        'health_precautions',
        'sanitary_safety',
        'covid',
      ],

      this.mentions = _.filter(this.d.mentions, function(m) {
        return !_.find(this.topicIgnoreList, function(t) { return t == m.topic })
      }.bind(this))
    }

    this.on('mount',  this.load)
    this.on('update', this.load)
