---
---
ota-widget.mdc-layout-grid style='display: none'

  .mdc-image-list.mdc-image-list--masonry.masonry-image-list
    overall-rating
    ratings
    mentions
    guests
    summaries
    recent-reviews
    nearby-attractions
    nearby-restaurants

  .mdc-image-list.mdc-image-list--masonry.masonry-image-list style="column-count: 2;"
    reviews_trends
    reviews_over_time
    shifts
    covid_events

  javascript:
    this.w = window.ota_widget
    this.d = {}
    this.t = this.w.i18n.translate

    this.clear = function () {
      this.d = {}
      this.update()
    }

