---
---
ota-widget class='mdc-layout-grid' style='display: none'

  .mdc-image-list.mdc-image-list--masonry.masonry-image-list

    .mdc-image-list__item
      .overall.block.mdc-elevation--z1
        .rating class='{w.ratings.toCss100(d.rating)}'
          '{w.ratings.format(d.rating / 10)}
        .count
          strong.count-value
            '{d.review_count} {t('overall.reviews')}
          .count-period
            '{t('overall.period')}

    .mdc-image-list__item
      .ratings.block.mdc-elevation--z1
        h2
          '{t('ratings.title')}

        .subratings
          .subrating each='{r in d.ratings}' if='{r.title}'
            .title
              strong
                '{t('ratings.topics.'+r.topic, {default: r.title})}
            .rating-bar
              .rating-value-bar class='{w.ratings.toCss100(r.value)}' style='width: {r.value}%'
            .rating-value
              '{w.ratings.format(r.value / 10)}

    .mdc-image-list__item
      .mentions.block.mdc-elevation--z1
        h2
          '{t('mentions.title')}

        .mentions-row
          .mention each='{m,i in d.mentions}' if='{i < 8}'
            .mention-meta
              .topic
                strong
                  '{t('opinions.topics.'+m.topic, {default: m.label})}
              .times
                '{m.opinions_count} {t('mentions.times')}
            .mention-percentage class='{w.ratings.toCss100(m.percentage)}'
              '{Math.round(m.percentage)}% {t('mentions.positive')}

    .mdc-image-list__item
      .guests.block.mdc-elevation--z1
        h2
          '{t('guests.title')}

        .guests-block if='{d.guests}'
          .country each='{c,i in d.guests.countries}' if='{i < 3}'
            .icon
              .flag class='flag-{c.country.toLowerCase()}'
            .label-text
              '{t('guests.countries.'+c.country, {default: c.label})}
            .percentage
              '{Math.round(c.percentage)}%

          .spacer
          .composition each='{c,i in d.guests.compositions}' if='{i < 3}'
            .icon class='material-icons'
              '{w.ui.compositionIcons[c.travel_composition]}
            .label-text
              '{t('guests.compositions.'+c.travel_composition, {default: c.label})}
            .percentage
              '{Math.round(c.percentage)}%

    .mdc-image-list__item
      .summaries.block.mdc-elevation--z1
        h2
          '{t('summaries.title')}

        .summary-block
          .summary each='{s,i in d.summaries}' if='{s.sentiment && i < 8}'
            .icon class='material-icons {s.sentiment}'
              '{s.sentiment == 'positive' ? 'add_circle_outline' : 'remove_circle_outline'}
            strong.name
              '{s.text}

    .mdc-image-list__item
      .recent-reviews.block.mdc-elevation--z1
        h2
          '{t('recent_reviews.title')}
        .subtitle
          '{t('recent_reviews.subtitle')}

        .recent-reviews-block
          .recent-review each='{r,i in d.recent_reviews}' if='{r.ratings && i < 4}'
            .stars
              .material-icons.star each='{class in w.rating_stars(r.ratings, "overall")}'
                '{class}
            .date if='{w.days_from(r.review_date) <= 90}'
              '{t('recent_reviews.reviewed_at', {days: w.days_from(r.review_date)})}
            .date if='{w.days_from(r.review_date) > 90}'
              '{t('recent_reviews.reviewed_a_while_ago')}
            .date if='{w.days_from(r.review_date) > 90}'
            .comment
              span if='{r.positive_topics}'
                '{t('recent_reviews.guest_liked')}{r.positive_topics}.
              span if='{r.negative_topics}'
                '{t('recent_reviews.negative_comms')}{r.negative_topics}.
            .reviewer_info
              span.country if='{r.country_code}'
                .icon.flag-16-11
                  .flag class='flag-{r.country_code.toLowerCase()}'
                .label-text
                  '{t('guests.countries.'+r.country_code, {default: r.country_name})}
              span.composition if='{r.travel_composition}'
                .icon class='material-icons'
                  '{w.ui.compositionIcons[r.travel_composition]}
                .label-text
                  '{t('guests.compositions.'+r.travel_composition, {default: r.travel_composition})}
            hr if='{ i < 3 }'

    .mdc-image-list__item
      .nearby.block.mdc-elevation--z1
        h2
          '{t('nearby.attractions')}

        .nearby-block
          .place each='{a,i in d.nearby_attractions}' if='{a.name && i < 8}'
            .name
              strong
                '{a.name}

            .distance
              '{w.ml2km(a.distance)} km
            .details
              // Very popular is when it has more than 100 reviews in one year.
              span.very_popular if='{a.review_count > 100}'
                '{t('nearby.very_popular')}
              // Highly rated is when rating is above 90
              span.highly_rated if='{a.rating > 90}'
                '{t('nearby.highly_rated')}

    .mdc-image-list__item if='{d.nearby_restaurants}'
      .nearby.block.mdc-elevation--z1
        h2
          '{t('nearby.restaurants')}

        .nearby-block
          .place each='{r,i in d.nearby_restaurants}' if='{r.name && i < 8}'
            .name
              strong
                '{r.name}

            .distance
              '{w.ml2km(r.distance)} km
            .details
              // Very popular is when it has more than 100 reviews in one year.
              span.very_popular if='{r.review_count > 100}'
                '{t('nearby.very_popular')}
              // Highly rated is when rating is above 90
              span.highly_rated if='{r.rating > 90}'
                '{t('nearby.highly_rated')}

  javascript:
    this.w = window.ota_widget
    this.d = {}
    this.t = this.w.i18n.translate

    this.clear = function () {
      this.d = {}
      this.update()
    }

