---
---
overall-rating.mdc-image-list__item
  .overall.block.mdc-elevation--z1
    .rating class='{w.ratings.toCss100(d.rating)}'
      '{w.ratings.format(d.rating / 10)}
    .count
      strong.count-value
        '{d.review_count} {t('overall.reviews')}
      .count-period
        '{t('overall.period')}


  javascript:
    ota_widget.ui.tagClass.bind(this)()

