---
---
reviews-over-time.mdc-image-list__item
  .over_time.chart.block.mdc-elevation--z1 if='{d.reviews_over_time}'
    h2
      '{t('over_time.title')}

      button onclick="ota_widget.charts.changePeriod('reviews_over_time', 'quarter');" class='{selected: ota_widget.reviews_over_time.period == "quarter"}'
        '{t('charts.quarter')}
      button onclick="ota_widget.charts.changePeriod('reviews_over_time', 'year')" class='{selected: ota_widget.reviews_over_time.period == "year"}'
        '{t('charts.year')}
    #over-time-chart style="width: 100%; height: 500px;"

  javascript:
    this.w = window.ota_widget
    this.t = this.w.i18n.translate
    this.d = this.w.data

