---
---
reviews-trends.mdc-image-list__item
  .trends.chart.block.mdc-elevation--z1 if='{d.reviews_over_time && d.events}'
    .material-icons.info aria-describedby="tooltip-recent_reviews"
      'info
    h2
      '{t('trends.title')}

      button period='quarter' onclick='{changePeriod}' class='{selected: this.period == "quarter"}'
        '{t('charts.quarter')}
      button period='year' onclick='{changePeriod}' class='{selected: this.period == "year"}'
        '{t('charts.year')}

    #trends-chart style='width: 100%; height: 500px;'

  javascript:
    ota_widget.ui.tagClass.bind(this)()
    this.period = 'quarter'

    changePeriod(e) {
      this.w.charts.changePeriod(this, e.target.getAttribute('period'))
    }

    load() {
      tippy('reviews-trends .material-icons.info', {
        content: this.t('trends.description'),
      })

      this.w.charts.draw(this)
    }

    data() {
      var data  = this.d.reviews_over_time
      if (!data) return

      data      = {
        property:    data.company.current,
        country:     data.country.current,
        continent:   data.continent.current,
        covid_cases: this.d.events.country,
      }
      var series = _.keys(data)

      return {
        id:         'trends-chart',
        header:     [''].concat(this.w.charts.t(series)),
        series:     series,
        axesSeries: false,
        data:       data,
        options:    { vAxis: { title: 'log', scaleType: 'log' } },
        chartClass: google.visualization.LineChart,
      }
    }

    this.on('mount',  this.load)
    this.on('update', this.load)

